@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

:root {
  --pr-dark-cyan: hsl(158, 36%, 37%);
  --pr-cream: hsl(30, 38%, 92%);
  --dark-blue: hsl(212, 21%, 14%);
  --dark-gr-blue: hsl(228, 12%, 48%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: var(--pr-cream);
  font-size: 14px;
}

p {
  color: var(--dark-gr-blue);
}

.main {
  display: flex;
  max-width: 600px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

.main__img {
  background: url("/images/image-product-desktop.jpg") center no-repeat;
  width: 300px;
  height: 450px;
  background-size: 100%;
  border-radius: 15px 0 0 15px;
  transition: background-size 1s ease;

  overflow: hidden;
}

.main__img:hover {
  background-size: 400px;
}

.main__content {
  padding: 30px;
  width: 300px;
}

.ctgry__name {
  font-size: 11px;
  padding-bottom: 20px;
}

.ctgry__title {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  font-size: 2.3em;
  text-align: left;
  padding-right: 50px;
  line-height: 32px;
}

.ctgry__info {
  padding: 30px 0;
  line-height: 1.6;
}

.ctgry__prices {
  display: flex;
  align-items: center;
}

.ctgry__prices h1 {
  color: var(--pr-dark-cyan);
  font-family: "Fraunces", sans-serif;
  font-size: 2.3em;
}

.ctgry__prices p {
  margin-left: 30px;
  text-decoration: line-through;
}

.btn {
  color: #fff;
  background: var(--pr-dark-cyan);
  padding: 15px 0;
  width: 100%;
  border: 0;
  margin-top: 18px;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 10px;
}

.btn:hover {
  background: hsl(158, 39%, 21%);
}

@media screen and (max-width: 620px) {
  .main {
    width: 90%;
    flex-direction: column;
    overflow: hidden;
    border-radius: 15px;
  }

  .main__content {
    width: 100%;
  }

  .ctgry__title {
    padding-right: 0;
  }

  .main__img {
    background: url("./images/image-product-mobile.jpg") center no-repeat;
    height: 160px;
    width: 100%;
    background-size: 100%;
    background-position: 0 0;
    border-radius: 0;
  }
}
